# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
*.db
*.db-shm
*.db-wal

# Environment
.env
.venv/
venv/

# IDE
.vscode/

# Local binaries
*.exe

# OS files
.DS_Store
Thumbs.db

# Archives
webapp.zip
*.zip

# Test outputs
webapp/test/test_outputs/

